/* select a font */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --clr-sky-blue: #8ecae6ff;
  --clr-blue-green: #219ebcff;
  --clr-prussian-blue: #023047ff;
  --clr-selective-yellow: #ffb703ff;
  --clr-ut-orange: #fb8500ff;
  --ff-roboto: 'Roboto', sans-serif;
  --ff-noto-sans: 'Noto Sans', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  --max-width: 1170px;
  --fixed-width: 450px;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--ff-roboto);
}

/* global styles */
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 992px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section,
.container {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(196, 173, 173);
  gap: 1rem;
  height: 100vh;
  width: 100vw;
  position: absolute;
  /* left: 30%; */
}
.title-container {
  position: relative;
  top: -30%;
}
.movie-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;

  position: relative;
  top: -30%;
}
.card-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 45%;
  gap: 1rem;
}
.close-button {
  padding: 0.5rem 0.75rem;
  border-radius: 50%;
  border: none;
  background-color: var(--clr-sky-blue);
  position: relative;
  left: 40%;
}

.hidden {
  display: none;
}
.movie-one {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.movie-two {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.movie-three {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-four {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -10px;
}

.vikram {
  background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRcywLT8os8ZXJb7n3hmSzrSzpnLIDNgHeIufdEvCprHyuxThul);
  width: 95px;
  height: 8.75rem;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0.5rem;
}
.rrr {
  background-image: url(https://upload.wikimedia.org/wikipedia/en/d/d7/RRR_Poster.jpg);
  background-repeat: no-repeat;
  width: 100px;
  height: 8.75rem;
  background-size: contain;
  margin: 0.5rem;
}
.kgf {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShdZRyTaoZojJKIuo3WdjQyooouQhi423xfQmgoIkpdF6lGaqj);
  width: 100px;
  height: 8.5rem;
  margin: 0.5rem;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 4.35rem 0;
}
.thunivu {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/6/65/Thunivu_poster.jpg');
  width: 95px;
  height: 8.5rem;
  margin: 0.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 1rem;
  padding: 4.5rem 0;
}

.form-control {
  display: flex;
}
.legend-container {
  display: flex;

  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  padding: 1rem;
}
.seat-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.screen {
  margin: 1rem;
  width: 21rem;
  height: 4.5rem;
  background-color: white;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
}
.seats {
  height: 2rem;
  width: 2rem;
  background-color: red;
  gap: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.row .seats {
  cursor: pointer;
}
.row {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
.seats.occupied {
  background-color: white;
  cursor: default;
}
.seats.selected {
  background-color: green;
}
